@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #ffdbe4;
}

* {
    font-family: 'Neuton', serif;
}

.content {
    padding: 15px 40px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

p {
    margin: 0px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.button {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 25px;
    color: black;
    cursor: pointer;
}

.header__nav {
    margin-left: auto;
}

.header__nav-ul {
    display: flex;
    list-style: none;
}

.header__nav-ul-li {
    font-weight: 700;
    font-size: 20px;
}

.header__nav-ul-li:not(:last-child) {
    margin-right: 30px;
}

.hero {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
}

.hero__background {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%) translateX(-20px);
    z-index: 1000;
    width: calc( 100% + 40px );
}

.hero__title {
    align-self: center;
    font-size: 60px;
    margin: 0px 0px;
    z-index: 2000;
}

.hero__img {
    height: 600px;
    z-index: 2000;
}

.about {
    display: flex;
    background-color: whitesmoke;
    padding: 60px 80px;
}

.about__div {
    padding: 0px 15px;
}

.about__div:first-child {
    border-right: 2px solid lightgray;
    padding-right: 40px;
}

.about__title {
    font-size: 60px;
    margin: 0px;
    line-height: .8;
}

.about__title2 {
    font-size: 50px;
    line-height: .8;
}

.about__div-text {
    font-size: 20px;
    line-height: 1.5;
}

.art {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.art__container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, min-content);
    grid-auto-flow: dense;
    justify-content: center;
}

.art__container-item {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border: 10px solid whitesmoke;
    cursor: pointer;
    position: relative;
}

.art__container-item-img {
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.art__container-item:hover .art__container-item-img {
    transform: scale(1.1);
}

.art__button {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: whitesmoke;
    color: purple;
    border: none;
}

.contact {
    display: grid;
    position: absolute;
    gap: 10px;
    width: 600px;
    bottom: 0;
    transform: translateY(95%);
    background-color: whitesmoke;
    padding: 60px 200px;
    grid-template-areas: 
    'title title'
    'Input1 Input2'
    'Textarea Textarea'
    'Textarea Textarea'
    'Button Button';
}

.contact__title {
    grid-area: title;
    text-align: center;
    margin: 0px;
    font-size: 30px;
}

.input1 {
    grid-area: Input1;
}

.input2 {
    grid-area: Input2;
}

.contact textarea {
    grid-area: Textarea;
    resize: none;
}

.contact__button {
    grid-area: Button;
    background-color: orangered;
    color: white;
    padding: 10px 0px;
    border: none;
}

.contact__input {
    padding: 10px 15px;
    border: 1px solid lightgray;
}

.footer {
    padding: 450px 150px 40px 150px;
    background-color: darkslateblue;
}